﻿
.desktop-viewport {
    width:90%;
    height:90vh;
    margin:auto;
    border:4px solid #dcdcdc;
    border-radius:8px;
    /*margin-top:32px;*/
    overflow-y:auto;
    background-image:url(/market-night.jpg);
    background-position:center;
}

    .desktop-viewport > div:first-child {
        margin-top: 16px;
    }

    .desktop-viewport > div:last-child {
        margin-bottom: 16px;
    }

.basic-info {
    width:96%;
    margin:auto;
    border:1px solid #808080;
    margin-top:4px;
    height:32px;
    line-height:32px;
    font-size:24px;
    border-radius:16px;
    background-color:#ffffff;
    opacity:0.96;
}

    .basic-info:hover {
        background-color:rgba(183, 196, 238, 0.98);
        cursor:pointer;
    }

    .basic-info div {
        display: inline-block;
    }

        .basic-info div:nth-child(1) {
            width: 70%;
            text-indent: 16px;
        }

        .basic-info div:nth-child(2) {
            width: 72px;
            border: 0px dotted red;
            background-image: url(/icon-star.png);
            background-repeat: no-repeat;
            background-position: right;
        }

        .basic-info div:nth-child(4) {
            text-indent: 32px;
            border: 0px dotted red;
        }

.detail-info {
    display:none;
    width:92%;
    margin:auto;
    border:1px solid #808080;
    height:256px;
    border-top-width:0px;
    border-bottom-left-radius:24px;
    border-bottom-right-radius:24px;
    background-color:#ffffff;
    opacity:0.96;
}

fieldset {
    display:inline-block;
    width:340px;
    height:200px;
    border-radius:4px;
    margin-top:16px;
    margin-left:24px;
}

.open-hrs-item {
    width:98%;
    margin:auto;
    border:1px solid #dcdcdc;
    border-radius:8px;
    text-align:left;
    text-indent:8px;
    margin-top:4px;
}

.open-hrs-item div {
    display:inline-block;
    border:0px dotted red;
}

.open-hrs-item div:first-child{
    width:120px;
}

.tel-website {
    display:inline-block;
    width:260px;
    height:200px;
    border:0px dotted red;
    vertical-align:top;
    margin-top:32px;
    margin-left:24px;
    font-size:24px;
}

.tel-website div {
    height:32px;
    line-height:32px;
    border:1px solid #dcdcdc;
    border-radius:16px;
    margin-bottom:8px;
    text-indent:48px;
    background-repeat:no-repeat;
}

.tel-website a {
    text-decoration:none;
}

.tel-website div:first-child {
    background-image:url(/icon-tel.png);  
}

.tel-website div:nth-child(n+2){
     background-image:url(/icon-link.png); 
}

.ad-placeholder {
    display:inline-block;
    width:380px;
    height:200px;
    border:1px dotted #dcdcdc;
    border-radius:8px;
    vertical-align:top;
    margin-top:32px;
    margin-left:24px;
    font-size:24px;
    background-image:url(/your-ad-here.jpg);
    background-size:contain;
    background-position:center;
}

.search-box {
    width:600px;
    margin:auto;
    height:200px;
    line-height:200px;
    background-color:#f4f6f6;
    border:2px solid #b2babb;
    border-radius:16px;
    margin-top:200px !important;
    text-align:center;
    box-shadow:8px 8px 16px #3730eb;
    opacity:0.92;
}

.search-box > div {
    height:46px;
    line-height:42px;
    border:0px dotted red;
    margin-top:76px;
}

.search-box input[type=text] {
    width:400px;
    height:40px;
    font-size:32px;
}

.search-box input[type=button]{
    height:46px;
    vertical-align:top;
    margin-top:0px;
    margin-left:8px;
}

.search-box-ex {
    display:none;
    width:90%;
    margin:auto;
    height:64px;
    line-height:64px;
    background-color:#f4f6f6;
    border:4px solid #dcdcdc;
    border-radius:8px;
    text-align:center;
}

.search-box-ex > div {
    height:46px;
    line-height:46px;
    border:0px dotted red;
    margin-top:8px;
    text-align:right;
}

.search-box-ex input[type=text] {
    width:400px;
    height:40px;
    font-size:32px;
    vertical-align:top;
}

.search-box-ex input[type=button]{
    height:46px;
    vertical-align:top;
    margin-top:0px;
    margin-left:8px;
    margin-right:32px;
}

#CityTempDiv {
    width:90%;
    margin:auto;
    height:24px;
    text-indent:8px;
}

#CityTempTop {
    display:inline-block;
    float:left;
    border:0px dotted red;
    margin-left:32px;
    font-size:24px;
}

.home-link {
    display:inline-block;
    width:44px;
    height:44px;
    border:0px dotted #dcdcdc;
    background-image:url(/icon-home.png);
    background-size:contain;
    margin-right:12px;
}

.searching-box {
    width:450px;
    height:150px;
    margin:auto;
    margin-top:64px;
    border:2px solid #dcdcdc;
    background-image:url(/Imgs/searching.gif);
    border-radius:8px;
}

.msg-box {
    width:440px;
    margin:auto;
    height:64px;
    line-height:64px;
    text-align:center;
    font-size:32px;
    border:2px solid #dcdcdc;
    border-radius:8px;
    margin-top:32px;
    margin-bottom:32px;
    color:navy;
}
